[MESSAGES CONTROL]

disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-ancestors,
    too-few-public-methods,
    too-many-instance-attributes,
    unused-argument,
    no-self-use,
    arguments-differ,
    signature-differs,
    attribute-defined-outside-init,
    protected-access,
    broad-except,
    invalid-name,
    isinstance-second-argument-not-valid-type,
    R0801,
